body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.lblInput {
 
  margin: 10px;
  font-size: 20px;
}

.lblInput input {
  font-size: 20px;
  border: none;
  border-top: none;
  border-left: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
}

.lblInput label {
  margin: 10px;
  font-weight: bold;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: 20px;
}

.form-buttons button {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  color: black;
  cursor: pointer;
  background-color: white;
  border: none;
}

.form-buttons button:hover {
  color: white;
  background-color: black;
}

.button {
  text-decoration: none;
  color: black;
}

.button:hover {
  color: white;
  background-color: black;
}

.note-form {
  align-items: center;
}


.lblErrorText {
  color: red;
}